*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';

}
html, body{
    height: 100%;
    width: 100%;
}
body{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
}
#card{
height: 450px;
width: 300px;
background-color: antiquewhite;
padding: 10px;
border-radius: 20px;

}
#card img{
    height: 80%;
    width: 100%;
    object-fit: cover;
    object-position:center;
    border-radius: 20px;
}
#card h1{
    font-size: 20px;

}

#card h5{
    font-size: 10px;
    color: rgb(175, 15, 15);
    margin: 10px;
}
#card button{
    background-color: rgb(10, 10, 208);
    color:whitesmoke ;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 50px;
    border:none;
    cursor: pointer;
}